@charset "UTF-8";

@media only screen and (min-width: 640px) {
  main > section:first-child > .input-button {
    margin: 1rem 0;
    width: 50%;
  }
  
  #projects-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1024px) {
  main > section:first-child > .input-button {
    margin: 2rem 0;
    width: 40%;
  }

  #projects-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
  }
}

@media only screen and (min-width: 1280px) {
  
}
